<div class="bg-div">
        <a href="/"><img class="logo-img" src="killbaseLogo.png" width="130" height="110" alt="Killbase Logo"></a>
        <nav>
            <ul>
                <li><a href="/assassins">Assassins</a></li>
                <li><a href="/contracts">Contracts</a></li>
            </ul>
        </nav>
    </div>