<div class="nav">
        
<img src='killbaseLogo.png' alt='killbase photo' >

    <h1>Killbase 3.0</h1>
        <div id="options">
            <div id="open-menu">
                <a href="#"><i class="fa fa-bars fa-2x"></i></a>
                <ul class="subnav">
                    <li><a class="subnav-link" href="../assassins/assasin_home.ejs">Assassins</a></li>
                    <li><a class="subnav-link" href="../contracts/">Contracts</a></li>
                </ul>
            </div>
        </div>
</div>
    