<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="../public/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Killbase</title>
  
<!-- <style>
  body {
    background-color: red;
    }
</style> -->
</head>

<body>
  <h1>Killbase</h1>

  <div class="container">
    <%- include('partials/navbar') %>
    <div class="jumbotron">
      <!-- WHERE THE TWO CLICKABLE OPTION CARDS WILL GO -->

    </div>

    </div>
    <%- include('partials/footer') %>
</div>






</body>
</html>
