<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Killbase</title>
</head>

  <%- include('partials/navbar') %>

<body>

  <div class="showcase">
    <div class="main">

      <h1>Killbase</h1>
      <h2>Elite. International. Deadly.</h2>

    <!-- <section class="loginform cf">
      <form 
        name="login" 
        action="index_submit" 
        method="get" 
        accept-charset="utf-8"
      >
        <ol>
          <li>
            <label for="usermail">Email</label>
            <input 
              type="email" 
              name="usermail" 
              placeholder="yourname@email.com" 
              required
            >
          </li>
          <li><label for="password">Password</label>
            <input 
              type="password" 
              name="password" 
              placeholder="password" 
              required
            >
          </li>
          <li><input type="submit" value="Login"></li>
        <ol>

      </form>
    </section> -->

    </div>
  </div>


</body>
</html>
