body {
  font-family: 'optima';
  background:url("deathTunnel.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 900px;
}

.showcase {
  text-align: center;
}

nav {
  float: right;
  margin: 0;
  overflow:hidden;
  text-align: center;
}

nav ul{
  margin-top: 40px;
  padding: 0;
}

nav ul li{
  display: inline-block;
  /* list-style-type: none; */
}

nav > ul > li > a:hover {
  color: rgb(85, 84, 84);
  text-decoration: none;
}

nav > ul > li > a {
  color: rgb(138, 137, 137);
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.logo-img{
  float: left;
  position: relative;
}

.bg-div{
 overflow: hidden;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

#newButton {
  margin: 20px;
  float: right;
}

.main h1, 
.main h2 {
  text-align: center;
}

/* CARDS */
.row .assassinIMG,
.row .targetIMG {
  height: 275px;
  width: 100%;
  object-fit: cover;
  position:relative;
}

.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
  background-color: rgba(168, 184, 180, 0.678);
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}


/* FORMS */
#input-form {
  background-color: rgba(168, 184, 180, 0.767);
  max-width: 800px;
  margin: 30px auto 0;
  padding: 40px;
  color: #5e5f5f;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  border-radius: 8px;
}

#input-form h2 {
  padding-bottom: 20px;
  margin: 10px 20px;
  font-size: 24px;
}

#input-form hr {
  margin-top: 38px;
  margin-bottom: 54px;
  margin-left:3px;
  border: 1px solid #cccccc;
}

#input-form .form-group {
margin-bottom: 20px;
  margin-left:20px;
  width: 30%;
  float:left;
  text-align: left;
}

#input-form .form-control {
  padding: 12px 20px;
  height: auto;
  border-radius: 2px;
}

#input-form .radio-inline {
  margin-left: 10px;
  margin-right: 10px;
}

#input-form .gender {
  width: 30%;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#input-form .btn {
  width: 46%;
  margin: 20px auto 0;
  display: block;
  outline: none;
}

@media screen and (max-width: 800px) {
  #input-form .form-group{
      width: 45%;
  }

  #input-form {
      margin-top: 0;
  }
}

@media screen and (max-width: 560px) {
  #input-form .form-group{
      width: 100%;
      margin-left: 0;
  }
  #input-form h2 {
      text-align: center;
  }
}

